.navbar {
  grid-area: navbar;
  background: skyblue;
  /* Original backgroundColor #FAFBFD */
  /* background: #FAFBFD; */ 
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 240px;
  position: relative;
}

.navbar .nav-wrapped {
  padding-top: 180px; 
}

.navbar .title {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  left: 48px;
  padding-top: 47px;
  position: relative;
}

.navbar .title a{
  color: white;
  text-decoration: none;
}

.navbar .item {
  /* Original color #9E9E9E */
  /* color: #9E9E9E; */
  position: static;
  display: block;
  color: blue;
  margin: 24px 0 24px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 0 48px;
  text-decoration: none;
}

.navbar .item:hover {
  color: #090F31;
  font-weight: bold;
}

.highlight {
  color: #F7542E;
}