.main {
  margin: 32px;
}

.show-buttons {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-right: 236px;
}

.show-buttons .show-button {  
  margin-bottom: 41px;
}

